/* css global */
.title-uti {
  color: rgb(13, 110, 253);
  border-bottom: 1px solid rgb(157 157 157 / 20%);
  font-weight: 100;
}
.padding0 {
  /* padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important; */
}
.bar-active {
  background-color: rgb(0 0 0 / 30%) !important;
}
