.btnBlack {
  background: #626262;
  box-shadow: 1px 1px 1px 1px black;
  border: 0px;
  color: white;
}

.elementCenterWidth {
  display: flex;
  justify-content: center;
}

.labelInfo {
  color: var(--colorUsaBlue);
  font-weight: bold;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid;
}

@-webkit-keyframes moveup {
  0% {
    /* left: 0px; */
    top: 100vh;
  }
  100% {
    /* left: 0px; */
    top: 0px;
  }
}

@keyframes moveup {
  0% {
    /* left: 0px; */
    top: 100vh;
  }
  100% {
    /* left: 0px; */
    top: 0px;
  }
}
.PopUp3 .UtilitiesMain .list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.PopUp3 .UtilitiesMain .list div {
  font-size: 14px;
  border: 1px solid;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0px 5px;
}
.PopUp3 .Utilities .IconUti {
  font-family: var(--text-font);
  float: left;
  width: 48%;
  color: #333;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 2px;
}
.PopUp3 .wrapper {
  /* annimation */
  -webkit-animation-name: moveup;
          animation-name: moveup;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  /*  */
  box-shadow: 0px 1px 12px 1px black;
  background-color: white;
  height: 99%;
  z-index: 101;
  position: fixed;
  /* bottom: 0; */
  top: 5px;
  width: 415px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  /* border-radius: 25px; */
  display: flex;
  flex-direction: column;
}
.PopUp3 .wrapper .header {
  position: relative;
  height: 60px;
  flex-shrink: 0;
}
.PopUp3 .wrapper .header .close2 {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #555;
}
.PopUp3 .wrapper .header .close2 > svg {
  font-size: 25px;
}
.PopUp3 .wrapper .header .close2:hover {
  cursor: pointer;
  color: black;
}
.PopUp3 .wrapper .header > p {
  font-size: 14px;
  width: 70%;
  margin-left: 30px;
  margin-top: 6px;
  color: var(--menulist-color);
  color: gray;
}
.PopUp3 .wrapper .body {
  /* box-shadow: 0px 0px 0px 2px rgb(172, 172, 172); */
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgb(240, 240, 240);
  word-wrap: break-word;
  /* position: absolute;
  top: 30px; */
  flex-grow: 1;
}
.PopUp3 .wrapper .footer2 {
  /* background-color: blue; */
  height: 50px;
  width: 100%;
  flex-shrink: 0;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.309);
}
.PopUp3 .wrapper .close {
  color: #bdbdbd;
  width: 55px;
  border-radius: 999px;
  text-align: center;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.PopUp3 .wrapper .close > svg {
  font-size: 35px;
}
.PopUp3 .wrapper .close span {
  font-size: 30px;
}
.PopUp3 .wrapper .close:hover {
  color: rgb(74, 74, 74);
}
.PopUp3 .Title .title2 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}
.PopUp3 .Title .location2 {
  margin-bottom: 10px;
  color: gray;
  font-size: 14px;
  font-style: italic;
  height: 42px;
}
.PopUp3 .MainPhoto .photo {
  width: 100%;
}
.PopUp3 .MainPhoto .photo2 {
  background-color: gray;
  height: 300px;
  background-image: url(https://www.elegantthemes.com/blog/wp-content/uploads/2022/01/lazy-loading.png);
  background-position: center;
  background-size: cover;
}
.PopUp3 .BdsGia {
  margin-top: 10px;
  /* border: 1px solid; */
  padding: 10px;
}
.PopUp3 .BdsGia .avatar2 {
  width: 110px;
  border-radius: 999px;
}
.PopUp3 .BdsGia .price2 {
  font-size: 20px;
  color: var(--colorTextPrice);
  background-color: var(--colorBackGroundPrice);
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
}
.PopUp3 .BdsGia .contact2 .call2 > a {
  text-decoration: none;
}
.PopUp3 .BdsGia .Bio .BioContent {
  font-size: 13px;
  font-style: italic;
  color: gray;
}
.PopUp3 .BdsContent .title2 > span:nth-child(1) {
  font-size: 12px;
  color: gray;
  font-weight: 400;
}
.PopUp3 .BdsContent .photo2 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.PopUp3 .SpaceBottom {
  height: 3vh;
}

.UpdateDialog {
  background-color: lightgray;
  box-shadow: 1px 1px 5px 1px #666;
  width: 300px;
  height: 230px;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px;
}
.UpdateDialog > .updateClose {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 13px;
  /* background-color: red; */
}
.UpdateDialog > .updateClose:hover {
  cursor: pointer;
  color: black;
}
.UpdateDialog > .updateContent {
  margin-top: 25px;
  border: 1px solid lightgray;
  border-radius: 12px;
  height: 12vh;
  padding: 10px;
}
.UpdateDialog > .updateContent > .dateWrap {
  display: flex;
}
.UpdateDialog > .btnUp {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.backgroundBlack {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.PostThum {
  background-color: white;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  height: 550px;
  margin-bottom: 20px;
  position: relative;
}
.PostThum .header {
  padding-top: 5px;
}
.PostThum .header > :nth-child(1) {
  color: blue;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}
.PostThum .header > :nth-child(2) {
  padding-left: 5px;
  padding-right: 5px;
  height: 42px;
  font-size: 12px;
}
.PostThum .body {
  padding: 5px;
}
.PostThum .body .photo {
  height: 180px;
  background-image: url("https://vngate.top/MEDIA/HINH_BDS_VNGATE/B0058/Photos/t.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  position: relative;
}
.PostThum .body .photo .numPhoto {
  color: rgb(223, 222, 222);
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2px;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
.PostThum .bottom {
  position: absolute;
  bottom: 0px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  border-radius: 8px;
  width: 100%;
  padding-left: 15px;
  padding-top: 100px;
  padding-bottom: 15px;
}
.PostThum .bottom .info :nth-child(1) {
  color: aqua;
}
.PostThum .bottom .info :nth-child(1) > span {
  background-color: #333;
  padding: 3px;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
}
.PostThum .bottom .info :nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.PostThum .bottom .info :nth-child(2) > span {
  font-size: 16px;
  font-weight: 300;
  color: white;
}
.PostThum .bottom .info :nth-child(3) {
  font-size: 12px;
}
.PostThum .bottom .info :nth-child(4) {
  color: gray;
  font-size: 12px;
}
.PostThum .bottom .chitiet {
  position: absolute;
  right: 23px;
  bottom: 33px;
}
.PostThum .contact {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.PostThum .contact > div:nth-child(1) {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}
.PostThum .contact > :nth-child(2) {
  padding-left: 5px;
  padding-right: 5px;
  border-top: 1px solid rgb(183, 183, 183);
  margin-top: 10px;
  color: gray;
}

.PostModal {
  /* annimation */
  -webkit-animation-name: moveup;
          animation-name: moveup;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  /*  */
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 105;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
@keyframes moveup {
  0% {
    /* left: 0px; */
    top: 100vh;
  }
  100% {
    /* left: 0px; */
    top: 0px;
  }
}
.PostModal .wrapper {
  box-shadow: 0px 1px 12px 1px black;
  background-color: white;
  max-width: 430px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.PostModal .wrapper .header {
  position: relative;
  height: 60px;
  flex-shrink: 0;
}
.PostModal .wrapper .header .close2 {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #555;
}
.PostModal .wrapper .header .close2 > svg {
  font-size: 25px;
}
.PostModal .wrapper .header .close2:hover {
  cursor: pointer;
  color: black;
}
.PostModal .wrapper .header > p {
  font-size: 14px;
  width: 70%;
  margin-left: 30px;
  margin-top: 6px;
  color: var(--menulist-color);
  color: gray;
}
.PostModal .wrapper .body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgb(240, 240, 240);
  word-wrap: break-word;
  flex-grow: 1;
}
.PostModal .wrapper .body .MainPhoto .photo2 {
  background-color: gray;
  height: 500px;
  background-image: url(https://www.elegantthemes.com/blog/wp-content/uploads/2022/01/lazy-loading.png);
  background-position: center;
  background-size: cover;
}
.PostModal .wrapper .body .PersonalInfo {
  /* .dist {
    border: 1px solid;
    padding: 1px 5px 1px 5px;
    border-radius: 7px;
  }
  .city {
    border: 1px solid;
    padding: 1px 5px 1px 5px;
    border-radius: 7px;
  } */
}
.PostModal .wrapper .body .PersonalInfo div {
  margin-bottom: 3px;
}
.PostModal .wrapper .body .PersonalInfo .name {
  background-color: #3b00df;
  display: inline-block;
  color: white;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.PostModal .wrapper .body .PersonalInfo .sex {
  border: 1px solid;
  padding: 1px 5px 1px 5px;
  border-radius: 7px;
  margin-bottom: 5px;
}
.PostModal .wrapper .body .PersonalInfo .age {
  border: 1px solid;
  padding: 1px 5px 1px 5px;
  border-radius: 7px;
}
.PostModal .wrapper .body .PersonalInfo .verify {
  border: 1px solid;
  padding: 1px 5px 1px 5px;
  border-radius: 7px;
  color: limegreen;
  /* background-color: white; */
}
.PostModal .wrapper .footer2 {
  height: 50px;
  width: 100%;
  flex-shrink: 0;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.309);
}
.PostModal .wrapper .close {
  color: #bdbdbd;
  width: 55px;
  border-radius: 999px;
  text-align: center;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.PostModal .wrapper .close > svg {
  font-size: 35px;
}
.PostModal .wrapper .close span {
  font-size: 30px;
}
.PostModal .wrapper .close:hover {
  color: rgb(74, 74, 74);
}
.PostModal .Title .title2 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}
.PostModal .Title .location2 {
  margin-bottom: 10px;
  color: gray;
  font-size: 14px;
  font-style: italic;
  height: 42px;
}
.PostModal .BdsGia {
  margin-top: 10px;
  /* border: 1px solid; */
  padding: 10px;
}
.PostModal .BdsGia .avatar2 {
  width: 95px;
  border-radius: 999px;
}
.PostModal .BdsGia .price2 {
  font-size: 20px;
  color: var(--colorTextPrice);
  background-color: var(--colorBackGroundPrice);
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
}
.PostModal .BdsGia .contact2 .call2 > a {
  text-decoration: none;
}
.PostModal .BdsGia .Bio .BioContent {
  font-size: 13px;
  font-style: italic;
  color: gray;
}
.PostModal .BdsContent .title2 > span:nth-child(1) {
  font-size: 12px;
  color: gray;
  font-weight: 400;
}
.PostModal .BdsContent .photo2 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.PostModal .SpaceBottom {
  height: 3vh;
}/*# sourceMappingURL=s.module.css.map */