.wrapper {
  padding: 10px;
  height: 50%;
  background-color: var(--card-color);
  box-shadow: var(--boxshadow);
}
.title {
  margin-bottom: 26px;
  color: var(--title-color);
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
}
.spinnerX {
}
